@import '../../../public/styles/hackdash/app';
@import './base';
@import './settings';

.main-header {
  background-color: @color-orange;
  .search-ctn {
    .search {
      .input-group-btn {
        button {
          background-color:@color-red;
          border-color:@color-red;
        }
      }
    }
  }
}
.dashboard .main-header {
  height: 90px;
}
.form-control {
  text-transform:none;
  font-size:@fsize-15;
}

.page-ctn {
  .header {
    .container {
      color: @color-dark;
      .page-link-left, .page-link-right {
        a {
          color: @color-black;
        }
      }
    }
  }
  &.dashboard {
    .header {
      padding-top:80px;
    }
  }
  &.project {
    &.edition {
      .header {
        h1 {
          .form-control {
            background-color:transparent;
            // border-color:inherit;
            border: 1px solid #ccc;
            color: @color-dark;
          }
        }
      }
      .body {
        .container {
          .cover {
            // height: 400px;
            margin-bottom: 80px;
            .text-muted {
              margin: 10px 0 40px 0;
              font-style: italic;
            }
          }
          .container {
            textarea {
              font-size:@fsize-15;
            }
          }
        }
      }
    }
  }

  &.profile {
    .nav-tabs li.dashboard {
      background-color:@color-red;
    }
    .nav-tabs li.project {
      background-color:@color-orange;
    }
    .nav-tabs li.contributions {
      background-color:@color-pink;
    }
    .nav-tabs li.likes {
      background-color:@color-lilac;
    }
    .header {
      background-color: @color-yellow-transparent;
      .profile-card {
        .cover {
          .hexagon {
            .getHexagon(73px, 3px, @color-orange, @color-white);
          }
        }
      }
    }
    .body {
      background-color: @color-orange-transparent;
    }
  }
}
