node_modules
.DS_Store
.sublime-project
.sublime-workspace
keys.json
config.json
config/keys.json
config/config.json
config/statuses.json
config/config.test.json
npm-debug.log
public/styles/app.css
public/styles/embed.css
public/styles/landing.css
public/js/hackdashApp.js
public/js/embedApp.js
public/js/vendor.js
