<ul>
  <li class="europeana"><a href="http://www.culturalfoundation.eu" target="_blank" data-bypass></a></li>
  <li class="platoniq"><a href="http://platoniq.net" target="_blank" data-bypass></a></li>
  <li class="madrid"><a href="http://madridcultura.es" target="_blank" data-bypass></a></li>
</ul>
