extends ../../../views/layout

block styles_default

  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700')

  link(rel='stylesheet', href='/styles/vendor.css?v=' + version)

block styles

  link(rel='stylesheet', href='/styles/app.css?v=' + version)

block content

block scripts

  script(src="/js/hackdashApp.js?v=" + version)

  script.
    $(function(){
      window.hackdash.startApp();
    });
