<div class="form-group">
  <label for="q-{{_id}}">{{title}}</label>

  <div class="dropzone item-file"
    {{#if background}}
    style="background-image: url({{background}});"
    {{/if}}>
  </div>
  <p class="error-file bg-danger text-danger hidden"></p>

  {{#if help}}
    <p class="help-block">{{help}}</p>
  {{/if}}
</div>
