extends ../../../views/layout

block styles_default

  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')

  link(rel='stylesheet', href='/styles/vendor.css?v=' + version)

block content
    #timeline
