extends ../../../views/layout

block styles_default

  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Oswald:400,700,300|Roboto:400,700')

  link(rel='stylesheet', href='/styles/vendor.css?v=' + version)

block content
  .row
    form.span4.offset4(method="post", action="/admin")
      fieldset
        legend Admin
        label(for="title") Title
        input#title(name="title", type="text", value=dashboard.title)
        label(for="description") Description
        textarea#description(maxlength="140", name="description")= dashboard.description
        label(for="background") Background color
        input#background(name="background", type="text", value=dashboard.background)
        button.btn(type="submit") Save
