@import '../../../public/styles/hackdash/landing';
@import './settings';

.partners-ctn {
  ul {
    li {
      &.europeana {
        background-image: url('/images/partners/europeana.svg');
      }

      &.europeana-labs {
        background-image: url('/images/partners/europeana-labs.png');
      }

      &.goteo {
        background-image: url('/images/partners/goteo.png');
      }
    }
  }
}
