{
  "db": {
    "name": "wotify",
    "host": "mongodb",
    "url": "mongodb://mongodb/wotify"
  },
  "host": "local.host",
  "port": 3000,
  "publicHost": "http://mysite.com",
  "session": "wefewfef",
  "discourseUrl": null,
  "disqus_shortname": null,
  "title": "hackdash",
  "image": null,
  "live": true,
  "mailer": null,
  "mailerFrom": "",
  "prerender": {
    "enabled": false,
    "db": "mongodb://mongodb/prerender"
  },
  "publicDashboardCreation" : true,
  "homeCreateProject" : true,
  "team": [
    "516d1997b2951b02280000e1",
    "516d1997b2951b02280000e2",
    "516d1997b2951b02280000e3",
    "516d1997b2951b02280000e4",
    "516d1997b2951b02280000e5",
    "516d1997b2951b02280000e6"
  ],
  "defaultHomeTab":null,
  "homeTabOrder": "last_created",
  "maxQueryLimit": 30,
  "googleAnalytics": "UA-XXXXXXXX-X",
  "facebookAppId": "YYYYYYYYYYYY",
  "googleApiKey": "",
  "useLocalLogin": true,
  "language": null,
  "languages": null,
  "maxUploadSize": 2097152,
  "minProjects": 2,
  "allowedOrigins" : "*",
  "theme": null,
  "skills": []
}
