[
  {
    "status": "brainstorming",
    "text": "brainstorming",
    "active": true
  },
  {
    "status": "wireframing",
    "text": "wireframing",
    "active": true
  },
  {
    "status": "building",
    "text": "building",
    "active": true
  },
  {
    "status": "prototyping",
    "text": "prototyping",
    "active": true
  },
  {
    "status": "releasing",
    "text": "releasing",
    "active": true
  }
]
