<div>

  <h1>Create a new question:</h1>

  <div class="form-group">
    <input type="text" class="form-control" name="title" id="newQuestion" placeholder="Question to respond">
  </div>
  <div class="form-group">
    <select name="type" class="form-control" id="newQuestionType">
    	<option value="" disabled selected>Question type (choose one)</option>
    	<option value="text">Simple text</option>
    	<option value="text">Boolean</option>
    </select>
  </div>

  <a id="save" class="btn btn-success">Create the new question</a>

</div>