<div class="header">
  <div class="container">
	  <h1>Questions for <small>{{itemTitle}}</small></h1>
	  {{#if isDashboard}}
	  	<p>This questions will have to be aswered by the leaders of projects in this dashboard</p>
	  {{else}}
	  	<p>This questions will have to be aswered by the leaders of projects in this collection</p>
  	{{/if}}
  </div>

</div>

<div class="body">

  <div class="container">

  	<h3>Current questions:</h3>
	<div class="questions-list"></div>


  	<button id="new-question" class="btn btn-success">Create a new question</button>

  </div>

</div>
