<a class="brand">
  <span class="logo logo-wotify hidden-xs" title="Wotify"></span>
  <span class="logo" title="IdeaCamp 2017"></span>
  <span class="logo-platoniq hidden-xxs" title="Developed by Platoniq">Platoniq.net</span>
  <span class="logo-hackdash hidden-xs" title="Powered by Hackdash">Powered by Hackdash</span>
</a>

<a class="up-button">
  <i class="fa fa-long-arrow-up"></i>
  <span>{{__ "up"}}</span>
</a>
