<div class="header">
  <div class="container">
	  <h1>Forms for <small>{{itemTitle}}</small></h1>
	  {{#if isDashboard}}
	  	<p>This forms will have to be aswered by the leaders of projects in this dashboard</p>
	  {{else}}
	  	<p>This forms will have to be aswered by the leaders of projects in this collection</p>
  	{{/if}}
  </div>

</div>

<div class="body">

  <div class="container">

    <h3>Current forms:</h3>
  	<div class="forms-list"></div>

  	<button class="btn btn-primary new-form">Create a new form</button>

  </div>

</div>
