<div class="header">
  <div class="container">
    <h1>Your forms</h1>
    <p>{{{formDesc}}}</p>
  </div>

</div>

<div class="body">

  <div class="container">

    {{#if showErrors}}
      <div class="alert alert-danger" id="login-errors">
        {{showErrors}}
      </div>
    {{/if}}

    {{#if showMessages}}
      <div class="alert alert-success" id="login-messages">
        {{showMessages}}
      </div>
    {{/if}}

  	<div class="forms-content"></div>

  </div>

</div>
