<h3>{{title}}</h3>

  {{#if showErrors}}
    <div class="alert alert-danger" id="login-errors">
      {{showErrors}}
    </div>
  {{/if}}

  {{#if showMessages}}
    <div class="alert alert-success" id="login-messages">
      {{showMessages}}
    </div>
  {{/if}}

<div class="form-content">

  <div class="questions-list"></div>

  <a class="btn btn-success send-form">Send</a>

</div>

<div class="done"></div>
