  <div class="form-group">
    <label>Add one option per line</label>
    <textarea class="form-control" name="options">{{options}}</textarea>
  </div>

<div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" name="multiple" value="1"{{#if multiple}} checked="true"{{/if}}> Multiple choices
      </label>
    </div>
</div>
