@import '../../../public/styles/hackdash/app';
@import './settings';

.logo {
  width: 364px;
}

.footer-ctn, footer {
  .footer {
    .brand{
      .logo {
        margin: 5px 0 0 10px;
        &.logo-wotify {
          margin: 10px 0 0 10px;
          background-image: url(@logo-wotify-url);
        }
      }
    }
  }
}
