// @color-project: #f58233;
@color-project: rgb(245,130,51);
@color-project-a: rgba(245,130,51,0.9);
@color-login: #2753fe;
@logo-ideacamp-url: '../images/moving-communities.svg';
@logo-roadbook-url: '../images/ideacamp-roadbook.svg';
