<a class="brand">
  <span class="logo" title="Wotify"></span>
  <span class="logo-platoniq" title="Developed by Platoniq">Platoniq.net</span>
  <span class="logo-hackdash" title="Powered by Hackdash">Powered by Hackdash</span>
</a>

<a class="up-button">
  <i class="fa fa-long-arrow-up"></i>
  <span>{{__ "up"}}</span>
</a>